<div dir="ltr"><br><div class="gmail_quote">---------- Forwarded message ----------<br>From: <b class="gmail_sendername">Trendyol</b> <span dir="ltr">&lt;<a href="mailto:trendyol@n.trendyol.com">trendyol@n.trendyol.com</a>&gt;</span><br>Date: 2017-10-01 13:50 GMT+04:00<br>Subject: Trendyol E-Arsiv Faturasi<br>To: <a href="mailto:info@mover.az">info@mover.az</a><br><br><br>




<div marginwidth="0" marginheight="0">
    <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="0" style="background-color:#f6f6f6">
        <tbody><tr><td height="50"> </td></tr>
        <tr>
            <td width="700">
                <table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="background-color:#ffffff">
                    <tbody><tr>
                        <td width="100%" height="70" align="center" valign="middle"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/ty-logo.jpg" width="147" height="49" border="0" style="display:block"></td>
                    </tr>
                    <tr>
                        <td valign="top" height="42" width="100%">
                            <table height="42" valign="top" width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <td height=" 42" align="center" style="color:#fff;font-size:11px;font-weight:bold">
                                        <a href="http://www.trendyol.com/Butik/Liste/Kadin" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_1.jpg" width="63" height="42" border="0" style="display:block"></a>
                                    </td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="http://www.trendyol.com/Butik/Liste/Erkek" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_2.jpg" width="53" height="42" border="0" style="display:block"></a></td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="http://www.trendyol.com/Butik/Liste/Anne--cocuk" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_3.jpg" width="95" height="42" border="0" style="display:block"></a></td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="http://www.trendyol.com/Butik/Liste/Ayakkabi--canta" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_4.jpg" width="114" height="42" border="0" style="display:block"></a></td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="http://www.trendyol.com/Butik/Liste/Saat--Aksesuar" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_5.jpg" width="100" height="42" border="0" style="display:block"></a></td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="http://www.trendyol.com/Butik/Liste/Kozmetik" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_6.jpg" width="77" height="42" border="0" style="display:block"></a></td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="http://www.trendyol.com/Butik/Liste/Ev--Yasam" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/menu_7.jpg" width="77" height="42" border="0" style="display:block"></a></td>
                                    <td height="42" align="center" style="color:#fff;font-size:11px;font-weight:bold"><a href="https://www.trendyol.com/Butik/Liste/Hizli--Teslimat" style="color:#fff;text-decoration:none;font-family:&#39;source-sans-prosemibold&#39;" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/hizli-teslimat.png" width="121" height="42" border="0" style="display:block"></a></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"> </td>
                    </tr>
                    <tr>
                        <td valign="middle" height="220">
                            <table cellpadding="0" cellspacing="0" border="0" width="679" height="220" align="center" style="background-color:#7f8992;text-align:center">
                                <tbody><tr><td height="30"></td></tr>
                                <tr>
                                    <td style="font-family:DINPro-bold;font-size:29px;color:#fff;font-weight:bold">E-ARSIV FATURA BILGISI</td>
                                </tr>
                                <tr>
                                    <td width="100%" height="2" align="center"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/ty-e-arsiv-separator.jpg" width="326" height="2" border="0" style="display:block"></td>
                                </tr>

                                <tr>
                                    <td height="120" style="font-family:DINPro-regular;font-size:14px;color:#fff;line-height:22px">
                                        Merhaba Melahet Qehremanova,<br>
                                        Trendyol.com&#39;dan TRENDYOLMILLA - Deri Ayakkabi - Yeni Sezon butiginden vermis oldugun 60410874 nolu siparisinin <br><span class="">
                                        e-arsiv faturasina asagidaki linkten ulasabilirsin.
                                    </span></td>
                                </tr>
                                <tr>

        <td height="60" align="center" valign="top">

                <a href="http://www.trendyol.com/c/EFatura/D0BB3796-0963-4188-9DD8-8652E3204F9F" target="_blank"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/e-faturaya_git_btn_trendyol.jpg" alt="Faturaya Git" title="Faturaya Git" width="229" height="39" border="0" style="display:block"></a>



        </td>

</tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20"> </td>
                    </tr>
                    <tr>
                        <td height="230" valign="middle">
                            <table width="679" border="0" cellspacing="0" cellpadding="0" align="center">
                                <tbody><tr>
                                    <td><a href="https://www.trendyol.com/Butik/Liste/Hizli--Teslimat" target="_blank"><img src="https://img-trendyol.mncdn.com/Assets/banner/2016/ty/rush-delivery-boutiques.png" width="335" height="250" border="0" style="display:block"></a></td>
                                    <td width="20"> </td>
                                    <td><a href="https://www.trendyol.com/Butik/Liste/trendyolmilla" target="_blank"><img src="https://img-trendyol.mncdn.com/Assets/banner/2016/ty/trendyol-milla-banner.png" width="335" height="250" border="0" style="display:block"></a></td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" align="center" width="100%"><a href="https://www.trendyol.com/s/mobil-uygulamalar" target="_blank"><img src="https://img-trendyol.mncdn.com/Assets/banner/2016/ty/mg-footer-banner.jpg" width="680" height="157" border="0" style="display:block;margin:20px 0 20px 0"></a></td>
                    </tr>
                    <tr>
                        <td valign="top" align="center" width="100%" style="background:#f5f5f5;height:50px;border:1px solid #e6e6e6"><img src="http://img-trendyol.mncdn.com/assets/ty/SB/e-fatura-TY/sssl-security-logo.jpg" width="159" height="50" border="0" style="display:block"></td>
                    </tr>
                </tbody></table>
            </td>
        </tr>
    </tbody></table>

</div>

</div><br></div>