<div dir="ltr"><br><div class="gmail_quote">---------- Forwarded message ----------<br>From: <b class="gmail_sendername"><a href="http://1V1Y.COM">1V1Y.COM</a></b> <span dir="ltr">&lt;<a href="mailto:perabayt@markalar.1v1y.com">perabayt@markalar.1v1y.com</a>&gt;</span><br>Date: 2017-09-15 13:28 GMT+04:00<br>Subject: Siparişin yola çıkmaya hazır!<br>To: Rufat IBRAHİMOV &lt;<a href="mailto:info@mover.az">info@mover.az</a>&gt;<br><br><br>

<u></u>






<div><img src="http://bulten.1v1y.com/img/ep/FFD7BC5020D8487BA0AEE26D55D072E4.gif" style="display:none" border="0" alt="">

    <table border="0" cellpadding="0" cellspacing="0" width="680" align="center">

      <tbody><tr>
        <td align="center" height="28" valign="middle">
      </td>
    </tr>
      <tr>
        <td height="120">
          <table border="0" cellpadding="0" cellspacing="0" width="680" align="center">

              <tbody><tr>
              <td width="240" height="120">
                <img style="display:block" src="http://1v1y3.cubecdn.net/Mailing/Static/bilgilendirme.jpg" border="0" width="240" height="120" alt="Günün kampanyaları">
            </td>
              <td height="120" width="200">
                <a href="http://www.1v1y.com/" style="display:block" title="1V1Y.COM Anasayfa" target="_blank">
                  <img alt="1V1Y.COM - Bir Varmış Bir Yokmuş" border="0" height="120" src="http://1v1y3.cubecdn.net/Mailing/Static/logo.jpg" width="200">
                </a>
            </td>
              <td height="120" width="240">
                <img alt="İçinden Moda Çıkan Alışveriş Sitesi" height="120" src="http://1v1y3.cubecdn.net/Mailing/Static/slogan.jpg" width="240">
            </td>
          </tr>

        </tbody></table>
      </td>
    </tr>
      <tr>
        <td height="20">
      </td>
    </tr>
      <tr>
        <td height="5" style="background-color:#000000">
      </td>
    </tr>
      <tr>
        <td height="9">
      </td>
    </tr>
      <tr>
        <td style="border:1px solid #cccccc">
          <table cellpadding="0" cellspacing="0" border="0" width="678">

              <tbody><tr>
              <td width="339">
                <img src="http://1v1y3.cubecdn.net/Mailing/Static/siparis-haber5.jpg" alt="bilgilendirme" width="339" height="433" style="display:block" border="0">
            </td>
              <td align="left" valign="top">
                <table cellpadding="0" cellspacing="0" border="0" width="339">

                  <tbody><tr>
                    <td width="20" height="20">
                  </td>
                    <td>
                  </td>
                    <td>
                  </td>
                </tr>
                  <tr>
                    <td>
                  </td>
                    <td align="center" valign="middle">
                      <p>
                        <font style="color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:13px">
                          <br>
                          <strong style="font-size:17px"> Sevgili Rufat IBRAHİMOV, </strong>
                          <br>
                          <br>
                          <br>
                          11.09.2017 tarihinde verdiğin    7932277 numaralı<br>
                          sipariş sana ulaştırılmak üzere kargoya teslim edildi,<br>
                          pek yakında kapında olacak!<br>
<br>
                          Siparişinin takibi için <br>
<a href="http://service.mngkargo.com.tr/iactive/takip222.asp?a=g&amp;b=OV&amp;c=450686" target="_blank">http://service.mngkargo.com.<wbr>tr/iactive/takip222.asp?a=g&amp;b=<wbr>OV&amp;c=450686</a></font>
                    </p>
                      <p>
                        <font style="color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:13px"> Aldığın ürünlerin iadesi için:<br>
                        <a href="http://www.1v1y.com/sayfalar/iade-ve-teslimat" style="color:#000000" target="_blank">http://www.1v1y.com/sayfalar/<wbr>iade-ve-teslimat</a><br>
                        <br>
                          Moda dolu günler dileriz.<br>
<br>
<strong> <a href="http://1V1Y.COM" target="_blank">1V1Y.COM</a><br>
                          İçinden Moda Çıkan Alışveriş Sitesi </strong><br>
<br>
<small style="font-size:10px"> Mutlu Müşteri Hattı Çalışma Saatleri<br>
                          Pazartesi-Cuma : 08:00-21:00<br>
                          Hafta sonu ve Resmi tatil günleri: 10:00-19:00<br>
                          Telefon: 444 5 664<br>
                          Email: <a href="mailto:destek@1V1Y.COM" target="_blank">destek@1V1Y.COM</a><br>
<a href="http://www.1v1y.com/sayfalar/iletisim#bizeulasin" style="color:#000000" target="_blank">İletişim formuna gitmek için tıklayınız</a></small></font>
                    </p>
                  </td>
                    <td>
                  </td>
                </tr>
                  <tr>
                    <td>
                  </td>
                    <td>
                  </td>
                    <td width="20" height="20">
                  </td>
                </tr>

              </tbody></table>
            </td>
          </tr>

        </tbody></table>
      </td>
    </tr>
      <tr>
        <td height="9">
      </td>
    </tr>
      <tr>
        <td height="5" style="background-color:#000000">
      </td>
    </tr>
      <tr>
        <td height="20" style="font-size:10px">
      </td>
    </tr>
      <tr>
        <td height="52">
            <table border="0" cellpadding="0" cellspacing="0" width="680" height="52">

                    <tbody><tr>
                        <td height="52"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_01.jpg" border="0" style="display:block" alt=""></td>
                        <td height="52"><a href="http://www.1v1ystudyo.com/" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_02.jpg" border="0" style="display:block" alt="1V1Y.COM Studyo Sayfası"></a></td>
                        <td height="52"><a href="http://www.facebook.com/1v1ycom" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_03.jpg" border="0" style="display:block" alt="1V1Y.COM Facebook Sayfası"></a></td>
                        <td height="52"><a href="http://www.twitter.com/1v1ycom" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_04.jpg" border="0" style="display:block" alt="1V1Y.COM Twitter Sayfası"></a></td>
                        <td height="52"><a href="http://www.youtube.com/user/1V1YTV/videos?flow=grid&amp;view=0" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_05.jpg" border="0" style="display:block" alt="1V1Y.COM Youtube Sayfası"></a></td>
                        <td height="52"><a href="http://instagram.com/1v1ycom" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_06.jpg" border="0" style="display:block" alt="1V1Y.COM Instagram Sayfası"></a></td>
                        <td height="52"><a href="http://www.pinterest.com/1v1ycom/" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_07.jpg" border="0" style="display:block" alt="1V1Y.COM Pinterest Sayfası"></a></td>
                        <td height="52"><a href="https://plus.google.com/108435632894376702677/posts" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_08.jpg" border="0" style="display:block" alt="1V1Y.COM Google Plus Sayfası"></a></td>
                        <td height="52"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_09.jpg" border="0" style="display:block" alt=""></td>
                    </tr>

            </tbody></table>
      </td>
    </tr>
      <tr>
        <td height="20" style="font-size:10px">
      </td>
    </tr>
      <tr>
        <td align="center" height="45">
          <img src="http://1v1y3.cubecdn.net/Mailing/Static/infobarV2.jpg" width="680" height="45" border="0">
      </td>
    </tr>

      <tr>
        <td height="1" style="font-size:1px" bgcolor="CCCCCC">
      </td>
    </tr>
      <tr>
        <td align="center" height="64" style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:rgb(108,111,112);line-height:20px">
          <a href="http://www.1v1y.com/sayfalar/hakkimizda" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">Hakkımızda</a> | <a href="http://www.1v1y.com/sayfalar/gizlilik-politikasi" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">Gizlilik Politikası</a> | <a href="http://www.1v1y.com/sayfalar/iletisim" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">İletişim</a><br></td>
    </tr>
      <tr>
        <td align="center" height="36" style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:rgb(108,111,112)"> Bu e-posta <a href="http://www.1v1y.com/" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">1V1Y.COM</a> tarafından otomatik olarak gönderilmiştir, lütfen cevaplamayınız.<br>

          Yardım almak için <a href="mailto:destek@1v1y.com" style="color:rgb(215,0,70)" target="_blank">destek@1v1y.com</a> adresine e-posta gönderebilirsiniz. </td>
    </tr>

  </tbody></table>
    <table width="680" height="143" cellspacing="0" cellpadding="0" border="0" align="center">

       <tbody><tr>
<td align="left" valign="top"> </td>
<td align="center" style="font-family:Arial,Helvetica,sans-serif;color:rgb(108,111,114);font-size:11px" valign="top">Perabayt Bilişim Pazarlama ve Dış Ticaret A.Ş<br>
Telefon: 444 5 664 Mersis No: 0729036555100014<br>
Huzur Mahallesi Yeni <a href="https://maps.google.com/?q=%C3%87aml%C4%B1k+Caddesi+No:+1+Sar%C4%B1yer+-+%C4%B0stanbul+/+T%C3%BCrkiye&amp;entry=gmail&amp;source=g">Çamlık Caddesi No: 1 Sarıyer - İstanbul / Türkiye</a><br>
<br>
<span style="font-size:10px">Bu mesaj size euro.message hizmet sağlayıcısı kullanılarak iletilmiştir.</span></td>
</tr>

  </tbody></table>


</div>




</div><br></div>
