<div dir="ltr"><br><div class="gmail_quote">---------- Forwarded message ----------<br>From: <b class="gmail_sendername"><a href="http://1V1Y.COM">1V1Y.COM</a></b> <span dir="ltr">&lt;<a href="mailto:perabayt@markalar.1v1y.com">perabayt@markalar.1v1y.com</a>&gt;</span><br>Date: 2017-08-24 13:32 GMT+04:00<br>Subject: Siparişin için teşekkür ederiz.<br>To: Rufat Ibrahimov &lt;<a href="mailto:info@mover.az">info@mover.az</a>&gt;<br><br><br>

<u></u>






<div><img src="http://bulten.1v1y.com/img/ep/BCDB29A2DB144D528716A67498BB0B0B.gif" style="display:none" border="0" alt="">

    <table border="0" cellpadding="0" cellspacing="0" width="680" align="center">

      <tbody><tr>
        <td align="center" height="28" valign="middle">
      </td>
    </tr>
      <tr>
        <td height="120">
          <table border="0" cellpadding="0" cellspacing="0" width="680" align="center">

              <tbody><tr>
              <td width="240" height="120">
                <img style="display:block" src="http://1v1y3.cubecdn.net/Mailing/Static/bilgilendirme.jpg" border="0" width="240" height="120" alt="Günün kampanyaları">
            </td>
              <td height="120" width="200">
                <a href="http://www.1v1y.com/" style="display:block" title="1V1Y.COM Anasayfa" target="_blank">
                  <img alt="1V1Y.COM - Bir Varmış Bir Yokmuş" border="0" height="120" src="http://1v1y3.cubecdn.net/Mailing/Static/logo.jpg" width="200">
                </a>
            </td>
              <td height="120" width="240">
                <img alt="İçinden Moda Çıkan Alışveriş Sitesi" height="120" src="http://1v1y3.cubecdn.net/Mailing/Static/slogan.jpg" width="240">
            </td>
          </tr>

        </tbody></table>
      </td>
    </tr>
      <tr>
        <td height="20">
      </td>
    </tr>
      <tr>
        <td height="5" style="background-color:#000000">
      </td>
    </tr>
      <tr>
        <td height="9">
      </td>
    </tr>
      <tr>
        <td style="border:1px solid #cccccc">
          <table cellpadding="0" cellspacing="0" border="0" width="678">

              <tbody><tr>
              <td width="339">
                <img src="http://1v1y3.cubecdn.net/Mailing/Static/siparis-haber6.jpg" alt="bilgilendirme" width="339" style="display:block" border="0">
            </td>
              <td align="left" valign="top">
                <table cellpadding="0" cellspacing="0" border="0" width="339">

                  <tbody><tr>
                    <td width="20" height="20">
                  </td>
                    <td>
                  </td>
                    <td>
                  </td>
                </tr>
                  <tr>
                    <td>
                  </td>
                    <td align="center" valign="middle">
                      <p>
                        <font style="color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:13px">
                          <strong style="font-size:17px"> Sevgili Rufat Ibrahimov, </strong>
                          <br>
                          <br>
                          <br>
                          24.08.2017 tarihinde verdiğin
                          7913554
                          numaralı<br>
                          sipariş bize ulaştı. Siparişini merak edersen,<br>
<a href="http://www.1v1y.com/siparislerim" target="_blank">siparişlerim</a> sayfasından takip edebilirsin.<br>
                          Siparişini en kısa zamanda   kargoya verecek,<br>
                          verdiğimiz gibi de sana tekrar haber vereceğiz. <br>
<br>

 <br>


                        </font>
                        <font style="color:#000000;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:13px"> Güzel günlerde kullanman dileğiyle,<br>
                        <br>
                        <strong> <a href="http://1V1Y.COM" target="_blank">1V1Y.COM</a><br>
                          İçinden Moda Çıkan Alışveriş Sitesi </strong><br>
<br>
<small style="font-size:10px"> Mutlu Müşteri Hattı Çalışma Saatleri<br>
                          Pazartesi-Cuma : 08:00-21:00<br>
                          Hafta sonu ve Resmi tatil günleri: 10:00-19:00<br>
                          Telefon: 444 5 664<br>
                          Email: <a href="mailto:destek@1V1Y.COM" target="_blank">destek@1V1Y.COM</a><br>
<a href="http://www.1v1y.com/sayfalar/iletisim#contactus" style="color:#000000" target="_blank">İletişim formuna gitmek için tıklayınız</a></small></font>
                    </p>
                  </td>
                    <td>
                  </td>
                </tr>
                  <tr>
                    <td>
                  </td>
                    <td>
                  </td>
                    <td width="20" height="20">
                  </td>
                </tr>

              </tbody></table>
            </td>
          </tr>

        </tbody></table>
      </td>
    </tr>
      <tr>
        <td height="9">
      </td>
    </tr>
      <tr>
        <td height="5" style="background-color:#000000">
      </td>
    </tr>
      <tr>
        <td height="9">
      </td>
    </tr>
         <tr>
        <td bgcolor="#f0f0f0" style="color:#6c6f70;padding:10px 20px;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:12px">
                <img src="http://1v1y3.cubecdn.net/Mailing/Static/information.jpg" align="left"><strong style="line-height:20px">İnternet Alışverişi için Bilgilendirme</strong><br><br>
            Bankacılık Düzenleme ve Denetleme Kurulu tarafından alınan karar gereği, <strong>31 Aralık  2017</strong> tarihinde kart sahibinin aksi yönde açık talebinin bulunmadığı hallerde tüm kredi kartları online alışverişe otomatik olarak kapatılacaktır. <a href="http://1V1Y.COM" target="_blank">1V1Y.COM</a>’dan alışveriş keyfinize devam edebilmeniz için bu tarihe kadar bankanızla görüşerek kartınıza <strong>onay</strong> vermeniz gerekmektedir.
        </td>
    </tr>

      <tr>
        <td height="9">
      </td>
    </tr>
      <tr>
        <td height="20" style="font-size:10px">
      </td>
    </tr>
      <tr>
        <td height="52">
            <table border="0" cellpadding="0" cellspacing="0" width="680" height="52">

                    <tbody><tr>
                        <td height="52"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_01.jpg" border="0" style="display:block" alt=""></td>
                        <td height="52"><a href="http://www.1v1ystudyo.com/" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_02.jpg" border="0" style="display:block" alt="1V1Y.COM Studyo Sayfası"></a></td>
                        <td height="52"><a href="http://www.facebook.com/1v1ycom" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_03.jpg" border="0" style="display:block" alt="1V1Y.COM Facebook Sayfası"></a></td>
                        <td height="52"><a href="http://www.twitter.com/1v1ycom" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_04.jpg" border="0" style="display:block" alt="1V1Y.COM Twitter Sayfası"></a></td>
                        <td height="52"><a href="http://www.youtube.com/user/1V1YTV/videos?flow=grid&amp;view=0" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_05.jpg" border="0" style="display:block" alt="1V1Y.COM Youtube Sayfası"></a></td>
                        <td height="52"><a href="http://www.instagram.com/1v1ycom" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_06.jpg" border="0" style="display:block" alt="1V1Y.COM Instagram Sayfası"></a></td>
                        <td height="52"><a href="http://www.pinterest.com/1v1ycom/" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_07.jpg" border="0" style="display:block" alt="1V1Y.COM Pinterest Sayfası"></a></td>
                        <td height="52"><a href="https://plus.google.com/108435632894376702677/posts" target="_blank"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_08.jpg" border="0" style="display:block" alt="1V1Y.COM Google Plus Sayfası"></a></td>
                        <td height="52"><img src="http://1v1y3.cubecdn.net/Mailing/Static/footer_09.jpg" border="0" style="display:block" alt=""></td>
                    </tr>

            </tbody></table>
      </td>
    </tr>
      <tr>
        <td height="20" style="font-size:10px">
      </td>
    </tr>
      <tr>
        <td align="center" height="45">
          <img src="http://1v1y3.cubecdn.net/Mailing/Static/infobarV2.jpg" width="680" height="45" border="0">
      </td>
    </tr>

      <tr>
        <td height="1" style="font-size:1px" bgcolor="CCCCCC">
      </td>
    </tr>
      <tr>
        <td style="color:rgb(108,111,112);font-size:11px;line-height:14px">
          <p> 24.08.2017 </p>
          <p>
            <strong>MESAFELİ SATIŞ SÖZLEŞMESİ</strong>
        </p>
          <p>
            <strong>MADDE 1 – KONU</strong>: <br>
            İşbu sözleşmenin konusu, SATICI’nın, ALICI’ya satışını yaptığı, aşağıda nitelikleri ve satış fiyatı belirtilen ürünün satışı ve teslimi ile ilgili olarak 4077 sayılı Tüketicilerin Korunması Hakkındaki Kanun-Mesafeli Sözleşmelere dair Yönetmelik hükümleri gereğince tarafların hak ve yükümlülüklerini kapsamaktadır. </p>
          <p>
            <strong>MADDE 2 – SATICI BİLGİLERİ</strong>:<br>
            <strong>Ünvanı</strong>: Perabayt Bilişim Pazarlama ve Dış Ticaret A.Ş.<br>
            <strong>Adresi</strong>: Huzur Mah. Yeni <a href="https://maps.google.com/?q=%C3%87aml%C4%B1k+Cad.+No:1+Sar%C4%B1yer,+%C4%B0stanbul&amp;entry=gmail&amp;source=g">Çamlık Cad. No:1 Sarıyer, İstanbul</a><br>
            <strong>Telefon</strong>: 444 5 664<br>
            <strong>E-posta adresi</strong> : <a href="mailto:destek@1v1y.com" target="_blank">destek@1v1y.com</a> </p>
          <p>
            <strong>MADDE 3 – ALICI BİLGİLERİ</strong>:<br>
            <strong>Adı,Soyadı/ Ünvanı</strong> :       Rufat Ibrahimov<br>
            <strong>Adres</strong> :    Merkez mahalle, <a href="https://maps.google.com/?q=Onur+sokak,+2b,+x15441&amp;entry=gmail&amp;source=g">Onur sokak, 2b, x15441</a> MOVER MMC / İstanbul <br>
            <strong>E-Posta </strong> : <a href="mailto:info@mover.az" target="_blank">info@mover.az</a></p>
          <p>
            <strong>MADDE 4 - SÖZLEŞME KONUSU ÜRÜN BİLGİLERİ:</strong>
        </p>
          <p>
            <strong>ÜRÜNLER</strong>
            <br>
            1 adet Güneş Gözlüğü Renk=Karma Numara=STANDART Birim Fiyat=119,99 ---1 adet Güneş Gözlüğü Renk=Karma Numara=STANDART Birim Fiyat=84,99 ---
            <br>
            <strong>Gönderim ücretleri</strong>0,00 TL<br>
            <strong>ÖDEME TOPLAMI</strong>204.98 TL<br>
            <strong>Ödeme Şekli </strong> :     TdSecure<br>
            <strong>Kart Numarası</strong> :    498749******9899<br>
            <strong>Ödeme</strong> :    TdSecure<br>
            <strong>Taksit</strong> :   1 Taksit<br>
            <strong>Tutar</strong> :    204.98 TL<br>
        </p>
          <p>
            <strong>Teslimat Bilgileri</strong> :<br>
            <strong>Adı,Soyadı/ Ünvanı</strong> :       Rufat Ibrahimov <br>
            <strong>Adres</strong> :    Merkez mahalle, <a href="https://maps.google.com/?q=Onur+sokak,+2b,+x15441&amp;entry=gmail&amp;source=g">Onur sokak, 2b, x15441</a> MOVER MMC / İstanbul <br>
            <strong>E-Posta </strong> : <a href="mailto:info@mover.az" target="_blank">info@mover.az</a><br>
        </p>
          <p>
            <strong>Fatura Bilgileri</strong> : <br>
            <strong>Adı,Soyadı/ Ünvanı</strong> :       Rufat Ibrahimov<br>
            <strong>Adres</strong> :    Merkez mahalle, <a href="https://maps.google.com/?q=Onur+sokak,+2b&amp;entry=gmail&amp;source=g">Onur sokak, 2b</a>, x15441 MOVER MMC / İstanbul <br>
            <strong>Vergi Dairesi</strong> : <br>
            <strong>Vergi No</strong> : </p>
          <p>
            <strong>MADDE 5 -GENEL HÜKÜMLER:</strong>
        </p>
          <p>5.1 - ALICI, Madde 4’te belirtilen sözleşme konusu ürünün temel nitelikleri, satış fiyatı ve ödeme şekli ile teslimata ilişkin bilgilerle birlikte cayma hakkının içeriği ve cayma hakkının yöneltileceği adres ile 4077 sayılı Tüketicinin Korunması Hakkında Kanun ve Mesafeli Sözleşmelere dair Yönetmelik’te yer verilmesi zorunlu diğer tüm ön bilgileri okuyup bilgi sahibi olduğunu ve <a href="http://www.1v1y.com" target="_blank">www.1v1y.com</a> internet sitesinde (elektronik ortamda) gerekli teyidi verdiğini kabul ve beyan eder.</p>
          <p>5.2 - Sözleşme konusu ürün, yasal 30 günlük süreyi aşmamak koşulu ile her bir ürün için ALICI’nın yerleşim yerinin uzaklığına bağlı olarak ön bilgiler içinde açıklanan süre içinde ALICI veya gösterdiği adresteki kişi/kuruluşa teslim edilir.</p>
          <p>5.3 - Sözleşme konusu ürün, ALICI’dan başka bir kişi/kuruluşa teslim edilecek ise, teslim edilecek kişi/kuruluşun teslimatı kabul etmemesinden SATICI sorumlu tutulamaz.</p>
          <p>5.4 - SATICI, haklı bir sebebe dayanmak şartıyla ve/veya sipariş konusu ürün veya hizmetin yerine getirilmesinin imkânsızlaşması halinde, sözleşmeden doğan ifa yükümlülüğünün süresi dolmadan ve ALICI’nın açık ve anlaşılabilir bir şekilde bilgilendirilerek onayının alınmış olması şartıyla, ALICI&#39;ya eşit kalite ve fiyatta farklı bir ürün tedarik edebilir. </p>
          <p>5.5 - SATICI, sözleşme konusu ürünün sağlam, eksiksiz, siparişte belirtilen niteliklere uygun ve varsa garanti belgeleri ve kullanım kılavuzları ile teslim edilmesinden sorumludur.</p>
          <p>5.6 - Sözleşme konusu ürünün teslimatı için, ürün bedelinin ALICI&#39;nın tercih ettiği ödeme şekli ile ödenmiş olması şarttır. Herhangi bir nedenle ürün bedeli ödenmez veya banka kayıtlarında iptal edilir ise, SATICI ürünün teslimi yükümlülüğünden kurtulmuş kabul edilir.</p>
          <p>5.7- Ürünün tesliminden sonra ALICI&#39;ya ait kredi kartının ALICI’nın kusurundan kaynaklanmayan bir şekilde yetkisiz kişilerce haksız veya hukuka aykırı olarak kullanılması nedeni ile ilgili banka veya finans kuruluşunun ürün bedelini SATICI&#39;ya ödememesi halinde, ALICI’nın kendisine teslim edilmiş olması kaydıyla ürünün 3 iş günü içinde SATICI&#39;ya gönderilmesi zorunludur. Bu takdirde nakliye giderleri SATICI&#39;ya aittir.</p>
          <p>5.8- SATICI mücbir sebepler veya nakliyeyi engelleyen hava muhalefeti, ulaşımın kesilmesi gibi olağanüstü durumlar nedeni ile sözleşme konusu ürünü süresi içinde teslim edemez ise, durumu ALICI&#39;ya bildirmekle yükümlüdür. Bu takdirde ALICI siparişin iptal edilmesini, sözleşme konusu ürünün varsa emsali ile değiştirilmesini, ve/veya teslimat süresinin engelleyici durumun ortadan kalkmasına kadar ertelenmesi haklarından birini kullanabilir. ALICI’nın siparişi iptal etmesi halinde ödediği tutar, 10 gün içinde ALICI’ya ödediği şekilde iade edilir.</p>
          <p>5.9- Garanti belgesi ile satılan ürünlerden olan veya olmayan ürünlerin arızalı veya bozuk olanları, garanti şartları içinde gerekli onarımın yaptırılması için SATICI’ya gönderilebilir. Bu takdirde kargo giderleri SATICI tarafından karşılanacaktır. </p>
          <p>
            <strong> MADDE 6 - CAYMA HAKKI:<br>
            </strong> SATICI, tüketicinin hiçbir hukuki ve cezai sorumluluk üstlenmeksizin ve hiçbir gerekçe göstermeksizin teslim aldığı veya sözleşmenin imzalandığı tarihten itibaren 14 gün içerisinde ürünü reddederek sözleşmeden cayma hakkının var olduğunu ve cayma bildiriminin SATICI’ya ulaşma tarihinden itibaren malı geri almayı kabul ve taahhüt eder.
            Cayma hakkının kullanılması için bu süre içinde SATICI’ya faks, e-mail veya <a href="http://www.1v1y.com" target="_blank">www.1v1y.com</a> adresindeki elektronik iade formu ile bildirimde bulunulması, ürünün 7. madde hükümleri çerçevesinde kullanılmamış olması, kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz ve hasarsız olarak iade edilmiş olması şarttır. Bu hakkın kullanılması halinde, 3. kişiye veya ALICI&#39;ya teslim edilen ürünün SATICI&#39;ya gönderildiğine ilişkin kargo teslim tutanağı örneği ile fatura aslının iadesi zorunludur. Bu belgelerin ulaşmasını takip eden 10 gün içinde ürün bedeli ALICI&#39;ya iade edilir. Cayma hakkı nedeni ile iade edilen ürünün kargo bedeli SATICI tarafından karşılanır. </p>
          <p>
            <strong> MADDE 7 - CAYMA HAKKI KULLANILAMAYACAK ÜRÜNLER: <br>
          </strong> Niteliği itibarıyla iade edilemeyecek ürünler, tek kullanımlık ürünler, kopyalanabilir yazılım ve programlar, hızlı bozulan veya son kullanım tarihi geçen ürünler için cayma hakkı kullanılamaz. </p>
          <p>Aşağıdaki ürünlerde cayma hakkının kullanılması, ürünün ambalajının açılmamış, bozulmamış ve ürünün kullanılmamış olması şartına bağlıdır.</p>
          <p> -İç giyim ürünleri<br>
            -Kişiye özel hazırlanan ürünler<br>
            -Her türlü kişisel bakım ürünleri<br>
            -Hür türlü kozmetik ürünleri<br>
            -Her türlü yazılım ve programlar<br>
            -DVD, VCD, CD ve kasetler<br>
            -Bilgisayar ve kırtasiye sarf malzemeleri (toner, kartuş, şerit v.b)<br>
            -Taşınabilir bilgisayar ve masaüstü bilgisayarlar (ürünün arızalı ve ayıplı çıkması durumu haricinde) orijinal işletim sistemi kurulduktan sonra (bilgisayar kurulumu yapıldıktan sonra) iade alınmaz </p>
          <p>
            <strong>MADDE 8 - YETKİLİ MAHKEME:</strong>
            <br>
            İşbu sözleşmenin uygulanmasında, Sanayi ve Ticaret Bakanlığınca ilan edilen değere kadar Tüketici Hakem Heyetleri ile ALICI&#39;nın veya SATICI&#39;nın yerleşim yerindeki Tüketici Mahkemeleri yetkilidir. </p>
      </td>
    </tr>
      <tr>
        <td height="1" style="font-size:1px" bgcolor="CCCCCC">
      </td>
    </tr>
      <tr>
        <td align="center" height="64" style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:rgb(108,111,112);line-height:20px">
          <a href="http://www.1v1y.com/sayfalar/hakkimizda" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">Hakkımızda</a> | <a href="http://www.1v1y.com/sayfalar/gizlilik-politikasi" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">Gizlilik Politikası</a> | <a href="http://www.1v1y.com/sayfalar/iletisim" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">İletişim</a><br></td>
    </tr>
      <tr>
        <td align="center" height="36" style="font-family:Arial,Helvetica,sans-serif;font-size:11px;color:rgb(108,111,112)"> Bu e-posta <a href="http://www.1v1y.com/" style="color:rgb(108,111,114);text-decoration:initial" target="_blank">1V1Y.COM</a> tarafından otomatik olarak gönderilmiştir, lütfen cevaplamayınız.<br>

          Yardım almak için <a href="mailto:destek@1v1y.com" style="color:rgb(215,0,70)" target="_blank">destek@1v1y.com</a> adresine e-posta gönderebilirsiniz. </td>
    </tr>

  </tbody></table>
    <table width="680" height="143" cellspacing="0" cellpadding="0" border="0" align="center">

      <tbody><tr>
<td align="left" valign="top"> </td>
<td align="center" style="font-family:Arial,Helvetica,sans-serif;color:rgb(108,111,114);font-size:11px" valign="top">Perabayt Bilişim Pazarlama ve Dış Ticaret A.Ş<br>
Telefon: 444 5 664 Mersis No: 0729036555100014<br>
Huzur Mahallesi Yeni <a href="https://maps.google.com/?q=%C3%87aml%C4%B1k+Caddesi+No:+1+Sar%C4%B1yer+-+%C4%B0stanbul+/+T%C3%BCrkiye&amp;entry=gmail&amp;source=g">Çamlık Caddesi No: 1 Sarıyer - İstanbul / Türkiye</a><br>
<br>
<span style="font-size:10px">Bu mesaj size euro.message hizmet sağlayıcısı kullanılarak iletilmiştir.</span></td>
</tr>

  </tbody></table>

</div>




</div><br></div>
